<configuration>

    <springProperty name="appName" source="spring.application.name" />

    <property scope="context" name="logDirectory"
              value="${LOG_DIR:-${user.home}/Apps/Spring-Clean-Microservices/Logs}" />

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- @formatter:off -->
        <encoder>
            <pattern>
                %d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} level=%-5p {App: ${appName:-}, trace: %X{traceId:-}, span: %X{spanId:-}} logger=%c %line thread=%thread = %msg%n%n
            </pattern>
        </encoder>
        <!-- @formatter:on -->
    </appender>

    <appender name="JsonFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDirectory}/${appName:-}.json.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logDirectory}/${appName:-}.%d{yyyy-MM-dd}.%i.json.log
            </fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>365</maxHistory>
            <totalSizeCap>200GB</totalSizeCap>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                { "service":"${appName:-}",
                "host":"${HOSTNAME:-unknown}",
                "environment":"${spring.profiles.active:-default}"}
            </customFields>
            <includeMdc>true</includeMdc>
            <mdcKeyFieldNames>
                <traceId>traceId</traceId>
                <spanId>spanId</spanId>
            </mdcKeyFieldNames>
            <includeContext>false</includeContext>
        </encoder>
    </appender>

    <root level="${APP_LOG_LEVEL:-INFO}">
        <appender-ref ref="Console" />
        <appender-ref ref="JsonFile" />
    </root>
</configuration>
